*{
    scroll-behavior: smooth ;
    margin: 0;
}
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(131, 131, 131);
  }

  body {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.figma_picture img{
    display: block;
    max-width: 100%;
    width: 80%;
    margin: 5% auto;
}
.right_column{
    width: 60%;
    font-size: 2rem;
    padding-bottom: 3%;
}
.wrapper .item{
    margin:3% 0 3% 0;
}
.small{
    font-size: 24px !important;
    margin: 0 !important;
    width: 80% !important;
    line-height: normal;
    text-align: initial !important;
}
  
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

nav ul{
    
    display: flex;
    flex-direction: row;
    padding: 26px 72px;
}
nav li{
    margin:0 auto;
}
li{
    list-style: none;

}
nav{
    width: 100%;
    position: sticky;
    z-index:1001;
    top:0;
    background-color: rgb(255, 255, 255);
  }
a{
    color: rgb(43, 43, 43);
    text-decoration: none;
}

nav a:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}
nav a::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #252525;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.hero_banner{
    position:fixed;
    top:0;
    left:0;
    z-index: -99;}
.photo img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    width: 40%;

}
.hero_description{
    width: 100%;
    text-align: center;
    margin: 0;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    
}
.project_hero .hero_description{
    top:50%;
}
.hero_description p{
    color: white;
}
h1{
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 500;
    font-size: 3.8em;
    line-height: 128px;
    color: rgb(255, 255, 255);
}
p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 15px;
}
.about p{
    margin: 60px 72px;
    width: 20%;
    font-size: 12px;
    line-height: 1.5;
}
.second{
    margin-left: auto !important;
    text-align: right;

}
.about{
    position:relative;
    min-height:100%;
    width:100%;
    z-index:1000;
    margin-top:30%;
    padding-top: 1%;

}
.works, .contacts{
    width: 100%;
    background-color: white;
    margin-top: -1px;
}
.tab{
    text-align: center;
    border-bottom: 1px solid #000000;
    padding: 16px;
}
.works_list{
 padding: 47px 72px;

}
.item{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: white;
    margin-bottom:3%;
    justify-content: space-between;
    border-bottom: 1px solid black;
}
.arrow{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 3%;
}
.item p{
    display: flex;
    align-items: center;
    justify-content: center;
    word-wrap: break-word;
  }
  .arrow ul{
    padding-inline-start: 0;
  }
iframe{
    width: 100%;
    height: 100%;
}

.description h2{
    text-align: left;
}

.description{
    width: 30%;
}
h2{
font-family: 'Playfair Display';
font-style: normal;
font-weight: 500;
font-size: 42px;
line-height: 85px;
}
.wrapper{
    padding: 48px 72px;
    background-color: white;
}
.info{
    display: flex;
    flex-direction:row ;
    justify-content: space-between;

}
.contact_image{
    width: 40%;
    background-size: cover;
    background-position: center;
    background-image: url("../assets/photo3.jpg");
}
.info h2{
    margin: 38px 0 20% 0;
    width: 50%;
    text-decoration: underline;
    word-wrap: break-word;
}
.social{
     text-align: center;
     margin-top: 24px;
}
.social a{
    margin-right: 35px;
}
.text{
    font-family: 'Robotto';
    font-size: 16px;
    font-weight: bold;
}
.next{
    text-align: center;
    background-color: white;

}
.bottom{
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    width: 80%;
    margin: 0 auto;
    padding: 26px 0;

}
.shine{
 background: linear-gradient(to right, #000000 0, white 10%, #4d4d4d 20%);
  background-position: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 5s infinite linear;
  animation-fill-mode: forwards;
  -webkit-text-size-adjust: none;
}
@keyframes shine{
  0%{
    background-position: 0}
  60%{
    background-position: 180px}
  100%{
    background-position: 180px}
}

@media only screen and (max-width: 790px) {
    h1{
      font-size: 42px;
      line-height: 60px;;
    }
    .left_column{
        margin: 5% 0;
    }
    p{
        font-size: 16px !important;
    }
    a{
        font-size: 12px;
    }
    nav ul{
        padding:12px  0;
    }
    h2{
        font-size: 24px;
        line-height: 65px;
        word-wrap: break-word;
    }
    .small{
        font-size: 14px !important;
    }
    .hero_banner{
        position: static;
        height: 300px;
    }
    .about{
        background-color: white;
        margin-top:20%;
        padding: 5% 0;
        
    }
    .about p{
        width: 80%;
        margin: 2% auto;
        text-align: justify;

    }
    .hero_description{
        top:40% !important;
    }

    .works_list{
        padding: 47px 0 ;
        margin: 0 auto;
        width: 80%;
    }
    .about .wrapper{
        padding: 20px;
    }
    .wrapper{
            padding: 47px 0 ;
            margin: 0 auto;
            width: 80%;
  }
  .photo img{
    width: 50% !important;
}
.right_column{
    font-size: 16px;
    width: 100%;
    margin-bottom: 5%;
}
.zoom{
    height: 100%;
}
.item{
    flex-direction: column;

}
.item p{
    justify-content: left;
    margin-bottom: 1%;
    width: 100%;
}
.item .description{
    width: 100%;
}
.arrow{
    justify-content: right;
}
}
@media only screen and (max-width: 540px) {
    h1{
        font-size: 21px;
    }
    .photo img{
        width: 70% !important;
    }
    .project_hero{
        height: 30%;
    }
    .hero_banner{
        height: 250px;
    }
    .hero_description{
        top:30% !important;
    }
    .info{
        flex-direction: column;
    }
    .info h2{
        width: 100%;
        margin-bottom: 2%;
    }
    .contact_image{
        width: 100%;
        height: 400px;
    }
}