*{
    scroll-behavior: smooth ;
    margin: 0;
}

ul{
    
    display: flex;
    flex-direction: row;
    padding: 26px 72px;
}
li{
    list-style: none;
    margin:0 auto;
}
nav{
    width: 100%;
    position: sticky;
    z-index:1001;
    top:0;
    background-color: rgb(255, 255, 255);
  }
a{
    color: rgb(43, 43, 43);
    text-decoration: none;
}
.hero_banner{
    position:fixed;
    top:0;
    left:0;
    z-index: -99;
    margin-top: 5%;
}
.photo img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    width: 40%;

}
.hero_description{
    width: 100%;
    text-align: center;
    margin: 0;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    
}
.hero_description p{
    color: white;
}
h1{
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 128px;
    color: white;
}
p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 15px;
}
.about p{
    margin: 60px 72px;
    width: 20%;
    font-size: 12px;
}
.second{
    margin-left: auto !important;
    text-align: right;

}
.about{
    position:relative;
    min-height:100%;
    width:100%;
    z-index:1000;
    margin-top:30%;

}
.works{
    width: 100%;
    background-color: white;
}
.tab{
    text-align: center;
    border-bottom: 1px solid #000000;
    padding: 8px;
}
.works_list{
 padding: 47px 72px;

}
.item{
    display: flex;
    flex-direction: row;
    width: 100%;

}
.link{
    background-color: grey;
    width: 40%;
    height: 300px;
    margin-left: auto;
}
.descripton h2{
    text-align: left;
}
.descripton p{
    margin-top: 29px;
    margin-left: auto;
}
h2{
font-family: 'Playfair Display';
font-style: normal;
font-weight: 500;
font-size: 42px;
line-height: 85px;
}